<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <!-- 表单头部 -->
        <div class="box-header with-border">
          <div class="btn-group">
            <a class="btn flat btn-sm btn-default BackButton">
              <i class="fa fa-arrow-left"></i>
              返回
            </a>
          </div>
        </div>
        <!-- 表单 -->
        <form id="dataForm" class="form-horizontal dataForm" action="/admin/user/update" method="post"
              enctype="multipart/form-data">
          <!-- 表单字段区域 -->
          <div class="box-body">
            <input type="hidden" value="{{.data.Id}}" name="id" />
            <div class="form-group">
              <label for="user_name" class="col-sm-2 control-label">用户名</label>
              <div class="col-sm-10 col-md-4">
                <input id="user_name" name="user_name" value="{{.data.UserName}}"
                       placeholder="请输入用户名" type="text" class="form-control field-text">
              </div>
            </div>
            <div class="form-group">
              <label for="member_level" class="col-sm-2 control-label">用户等级</label>
              <div class="col-sm-10 col-md-4">
                <select name="member_level" id="member_level" class="form-control field-select"
                        data-placeholder="请选择用户等级">
                  <option value=""></option>
                  {{range $key,$item := .user_level_list}}
                    <option value="{{$item.Id}}" {{if compare $.data.MemberLevel $item.Id }} selected {{end}}>
                      {{$item.Name}}
                    </option>
                  {{end}}
                </select>
              </div>
            </div>
            <script>
              $('#member_level').select2();
            </script>

            <div class="form-group">
              <label for="password" class="col-sm-2 control-label">密码</label>
              <div class="col-sm-10 col-md-4">
                <input id="password" name="password"
                       value="{{.data.Password}}"
                       placeholder="请输入密码" type="password" class="form-control field-password">
              </div>
            </div>

            <div class="form-group">
              <label for="fund_password" class="col-sm-2 control-label">资金密码</label>
              <div class="col-sm-10 col-md-4">
                <input id="fund_password" name="fund_password"
                       value="{{.data.FundPassword}}"
                       placeholder="请输入资金密码" type="password" class="form-control field-password">
              </div>
            </div>



{{/*            <div class="form-group">*/}}
{{/*              <label for="time_range" class="col-sm-2 control-label">有效期</label>*/}}
{{/*              <div class="col-sm-10 col-md-4">*/}}
{{/*                <input  value="{{.data.StartTime | TimeForFormatDate}} - {{.data.EndTime | TimeForFormatDate}}"*/}}
{{/*                        name="time_range" id="time_range" class="form-control input-sm indexSearchDatetimeRange" placeholder="有效期">*/}}
{{/*              </div>*/}}
{{/*            </div>*/}}
{{/*            <script>*/}}
{{/*              laydate.render({*/}}
{{/*                elem: '#time_range',*/}}
{{/*                range: true,*/}}
{{/*                type:'date'*/}}
{{/*              });*/}}
{{/*            </script>*/}}


            {{/*                        <div class="form-group">*/}}
            {{/*                            <label for="avatar" class="col-sm-2 control-label">头像</label>*/}}
            {{/*                            <div class="col-sm-10 col-md-4">*/}}
            {{/*                                <input id="avatar" name="avatar" placeholder="请上传头像" type="file" class="form-control field-image" >*/}}
            {{/*                            </div>*/}}
            {{/*                        </div>*/}}
            {{/*                        <script>*/}}
            {{/*                            $('#avatar').fileinput({*/}}
            {{/*                                language: 'zh',*/}}
            {{/*                                overwriteInitial: true,*/}}
            {{/*                                browseLabel: '浏览',*/}}
            {{/*                                initialPreviewAsData: true,*/}}
            {{/*                                dropZoneEnabled: false,*/}}
            {{/*                                showUpload: false,*/}}
            {{/*                                showRemove: false,*/}}
            {{/*                                allowedFileTypes: ['image'],*/}}
            {{/*                                maxFileSize: 10240,*/}}
            {{/*                            });*/}}
            {{/*                        </script>*/}}


            {{/*                        <div class="form-group">*/}}
            {{/*                            <label for="img" class="col-sm-2 control-label">描述</label>*/}}
            {{/*                            <div class="col-sm-10 col-md-10">*/}}
            {{/*                                <script id="description" name="description" type="text/plain">*/}}
            {{/*                                </script>*/}}
            {{/*                            </div>*/}}
            {{/*                        </div>*/}}
            {{/*                        <script>*/}}
            {{/*                            UE.delEditor('description');*/}}
            {{/*                            var description = UE.getEditor('description', {*/}}
            {{/*                                serverUrl: UEServer*/}}
            {{/*                            });*/}}
            {{/*                        </script>*/}}

            {{/*                        <div class="form-group">*/}}
            {{/*                            <label for="status" class="col-sm-2 control-label">是否启用</label>*/}}
            {{/*                            <div class="col-sm-10 col-md-4">*/}}
            {{/*                                <input class="input-switch" id="status" value="1" checked type="checkbox"/>*/}}
            {{/*                                <input class="switch field-switch" placeholder="是否启用" name="status"*/}}
            {{/*                                       value="1" hidden/>*/}}
            {{/*                            </div>*/}}
            {{/*                        </div>*/}}

            {{/*                        <script>*/}}
            {{/*                            $('#status').bootstrapSwitch({*/}}
            {{/*                                onText: "是",*/}}
            {{/*                                offText: "否",*/}}
            {{/*                                onColor: "success",*/}}
            {{/*                                offColor: "danger",*/}}
            {{/*                                onSwitchChange: function (event, state) {*/}}
            {{/*                                    $(event.target).closest('.bootstrap-switch').next().val(state ? '1' : '0').change();*/}}
            {{/*                                }*/}}
            {{/*                            });*/}}
            {{/*                        </script>*/}}
          </div>
          <!-- 表单底部 -->
          <div class="box-footer">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-10 col-md-4">
              <div class="btn-group">
                <button type="submit" class="btn flat btn-info dataFormSubmit">
                  保存
                </button>
              </div>
              <div class="btn-group">
                <button type="reset" class="btn flat btn-default dataFormReset">
                  重置
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script>
  /** 表单验证 **/
  $('#dataForm').validate({
    rules: {
      'user_name': {
        required: true,
      },
      'phone': {
        required: true,
      },
      'email': {
        required: true,
      },
      'password': {
        required: true,
      },
    },
    messages: {
      'user_name': {
        required: "用户名不能为空",
      },
      'phone': {
        required: "手机号不能为空",
      },
      'email': {
        required: "昵称不能为空",
      },
      'password': {
        required: "密码不能为空",
      },
    }
  });
</script>