<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <form class="form-inline searchForm" id="searchForm" action="/admin/forum/reply/index" method="GET">

            <div class="form-group">
              <input value="{{._keywords}}"
                     name="_keywords" id="_keywords" class="form-control input-sm" placeholder="名称">
            </div>

            <div class="form-group">
              <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> 查询
              </button>
            </div>
            <div class="form-group">
              <button onclick="clearSearchForm()" class="btn btn-sm btn-default" type="button"><i
                        class="fa  fa-eraser"></i> 清空查询
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <!--数据列表顶部-->
        <div class="box-header" style="display:none;">
          <div>
            <a title="添加" data-toggle="tooltip" class="btn btn-primary btn-sm"  href="/admin/forum/add">
              <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-danger btn-sm AjaxButton" data-toggle="tooltip" title="删除选中数据" data-confirm-title="删除确认" data-confirm-content="您确定要删除选中的数据吗？" data-id="checked" data-url="/admin/forum/category/del">
              <i class="fa fa-trash"></i> 删除
            </a>
            <a class="btn btn-success btn-sm ReloadButton" data-toggle="tooltip" title="刷新">
              <i class="fa fa-refresh"></i> 刷新
            </a>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover table-bordered datatable" width="100%">
            <thead>
            <tr>
              {{/*              <th>*/}}
              {{/*                <input id="dataCheckAll" type="checkbox" onclick="checkAll(this)" class="checkbox" placeholder="全选/取消">*/}}
              {{/*              </th>*/}}
              <th>ID</th>
              <th>用户</th>
              <th>浏览数</th>
              <th>点赞数</th>
              <th>评论数</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{range $key, $item := .data}}
              <tr>
                {{/*                <td>*/}}
                {{/*                  <input type="checkbox" onclick="checkThis(this)" name="data-checkbox"*/}}
                {{/*                         data-id="{{$item.Id}}" class="checkbox data-list-check" value="{{$item.Id}}" placeholder="选择/取消">*/}}
                {{/*                </td>*/}}
                <td>{{$item.Id}}</td>
                <td>{{$item.UserName}}</td>
                <td>{{$item.Views}}</td>
                <td>{{$item.Likes}}</td>
                <td>{{$item.Answers}}</td>
                <td class="td-do">
                  {{if eq 0 $item.IsCheck}}
                    <a class="btn btn-danger btn-xs AjaxButton" data-toggle="tooltip" title="审核" data-csrf-token="" data-id="{{$item.Id}}" data-confirm-title="审核确认" data-confirm-content='您确定要通过审核吗？' data-url="/admin/forum/reply/check">
                      <i class="fa fa-500px"></i>
                    </a>
                  {{end}}
                </td>
              </tr>
            {{end}}
            </tbody>
          </table>
        </div>
        <!-- 数据列表底部 -->
        {{if ne "" .paginate.BootStrapRenderLink}}
          <div class="box-footer">
            {{ str2html .paginate.BootStrapRenderLink}}
            <label class="control-label pull-right" style="margin-right: 10px; font-weight: 100;">
              <small>共{{.paginate.Total}}条记录</small>&nbsp;
              <small>每页显示</small>
              &nbsp;
              <select class="input-sm" onchange="changePerPage(this)">
                {{range $index, $val := $.admin.per_page_config}}
                  <option value="{{$val}}" {{if eq $val $.admin.per_page}} selected {{end}}>{{$val}}</option>
                {{end}}
              </select>
              &nbsp;
              <small>条记录</small>
            </label>
          </div>
        {{end}}
      </div>
    </div>
  </div>
</section>
